*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
    
   
}
body{
    background-color: #080808;
    color: white;
    

}
#header{
    width: 100vw;
    height: 100vh;
    background-image: url(images/Untitled\ design.png);
    background-size: cover;
    background-position: center ;
}
.logo{
    width: 140px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-left: 25px;


}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    width: 0;
    content: "";
    height: 3px;
    background:#ff004f ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 200px;
    font-size: 30px;

}
.header-text h1{
    margin-top: 50px;
    font-size: 60px;
}
.header-text h1 span{
    color: #ff004f;

}


/* ------------------about-------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 37%;
    
    
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
   margin-right: 50px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   position: relative;

}
.tab-links::after{
    width: 0;
    content: "";
    height: 3px;
    background:#ff004f ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}


.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
  color: #b54769;
 font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* =======services===== */
#sevices{
    padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background-color: hsl(0, 0%, 15%);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 15px;
    border-radius: 10px;
}
.services-list div{
    transition: background 0.5s,transform 0.5s;
    cursor: pointer;

}
.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);

}
#Portfolio {
    padding: 50px 0;
    margin-left: 30px;


}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.work img {
    width: 75%;
    height: 500px;   /* Set a fixed height */
    object-fit: cover; /* Ensures images stay neat and not stretched */
    border-radius: 10%;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 79%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition:  height 0.5s ;
}
.layer h3{
    font-weight: 300;
    margin-bottom: 20px;
}
.layer a{
    font-size: 20px;
    color: #ff004f;
    text-decoration: none;
    margin-top: 20px;
    line-height: 60px;
    background: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #ff004f;
}
/* -------contact----- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 50%;
    
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);   
}
 .btn.btn2{
    display: inline-block;
    background-color:#ff004f
}
.contact-right{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#262626 ;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form  .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    background:#262626;

    padding: 25px  0;
    font-weight: 300;
    color: antiquewhite;
    margin-top: 20px;
} 
.copyright i{
    color: #ff004f;
}
/* ----------css for smallm screen------ */
@media only screen and (max-width:600px){
    #header{
        background-image: url();
    }

}
html {
  scroll-behavior: smooth;
}
